# File Consolidation

In [9]:
# Import libraries

import pandas as pd
import numpy as np
import os
import glob
import json

from tqdm import tqdm

from collections import defaultdict

In [10]:
# Navigate to file folder and retrieve relevant files
all_files = glob.glob(r"C:\Users\jawo19ad\Dropbox (CBS)\Master thesis data\Twitter Fetch\*.txt")

In [11]:
def load_full_json(file):
    
    # Create empty dictionary where values are stored
    json_complete = {"data":list(),"users":list()}
    
    # Open the json file
    with open(file, "r") as json_file:
        
        # Iterate through json file and store information at appropriate dict key
        for line in json_file:
            data = json.loads(line)
            json_complete["data"].extend(data["data"])
            json_complete["users"].extend(data["includes"]["users"])
    
    return json_complete

In [12]:
json_complete = {"data":list(),"users":list()}
tweets_complete = {"data":list()}
users_complete = {"users":list()}


for file in tqdm(all_files):
    json_file = load_full_json(file)
    #print(len(json_file["data"]), len(json_file["users"]))
    tweets_complete["data"].extend(json_file["data"])
    users_complete["users"].extend(json_file["users"])

100%|██████████| 26/26 [12:14<00:00, 28.24s/it]

In [ ]:
len(tweets_complete["data"])

In [13]:
len(users_complete["users"])

11399491

In [ ]:
# Store tweets file
with open(r'C:\Users\jawo19ad\Dropbox (CBS)\Master thesis data\all_tweets_012020_042021.json', 'w') as f:
    json.dump(tweets_complete, f)

In [15]:
# Store users file
with open(r'C:\Users\jawo19ad\Dropbox (CBS)\Master thesis data\all_users_012020_042021.json', 'w') as f:
    json.dump(users_complete, f)

# Creation of df_user

In [16]:
# Load the json file containing the users
with open(r'C:\Users\jawo19ad\Dropbox (CBS)\Master thesis data\all_users_012020_042021.json', 'r') as f:
    data = json.load(f)

In [17]:
# Convert json file into pandas dataframe
df_users = pd.json_normalize(data["users"])
df_users.head()

,description,url,verified,id,username,name,created_at,location,entities.url.urls,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,entities.description.urls,entities.description.hashtags,entities.description.mentions,withheld.country_codes,entities.description.cashtags,withheld.scope
0,PhD Social Psychologist. Author of Teaching ab...,https://t.co/lpWg7cgBBf,False,1055596610,CyndiKernahan,Cyndi Kernahan,2013-01-02T17:05:20.000Z,minneapolis st paul,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",481,391,3368,9,NaN,NaN,NaN,NaN,NaN,NaN
1,https://t.co/rBHIWyFLKj TIME 4 WOKES/SNOWFLAKE...,,False,1220792501793185795,TallyPaige,Tally Paige,2020-01-24T19:37:00.000Z,NaN,NaN,886,339,67689,1,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",NaN,NaN,NaN,NaN,NaN
2,,,False,812871670100738048,alleanogucci,Alleano,2016-12-25T04:04:43.000Z,NaN,NaN,2,344,895,0,NaN,NaN,NaN,NaN,NaN,NaN
3,Kurdish News Search Engine providing news from...,https://t.co/kIctHjygFm,False,243133079,Rojname_com,Rojname Kurdish News ☀️,2011-01-26T11:15:56.000Z,"Kurdistan, Europe","[{'start': 0, 'end': 23, 'url': 'https://t.co/...",26764,1469,2973235,234,NaN,"[{'start': 47, 'end': 55, 'tag': 'Kurdish'}, {...",NaN,NaN,NaN,NaN
4,In pursuit of truth...,https://t.co/naCvPAyoUS,False,778045033828057092,VviewSsonicMair,Sarah Jackman,2016-09-20T01:36:06.000Z,"Enterprise, Oregon","[{'start': 0, 'end': 23, 'url': 'https://t.co/...",3790,5017,116301,26,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_users.shape

(11399491, 19)

In [19]:
# Remove duplicate users
df_users_no_dups = df_users.drop_duplicates(subset="id")

In [20]:
df_users_no_dups.shape

(2923437, 19)

In [21]:
# Drop irrelevant columns
df_users_no_dups.drop(['entities.description.hashtags','entities.url.urls', 'entities.description.urls',
                       'entities.description.mentions', 'entities.description.cashtags', 'withheld.country_codes'],
                       axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
# Store file in csv format
df_users_no_dups.to_csv(r"C:\Users\jawo19ad\Dropbox (CBS)\Master thesis data\df_users.csv")

# Creation of df_tweets

In [ ]:
# Load the json file containing the tweets
with open(r'C:\Users\jawo19ad\Dropbox (CBS)\Master thesis data\all_tweets_032020_042021.json', 'r') as f:
    data = json.load(f)

In [ ]:
# Convert json file into pandas dataframe
df_tweets = pd.json_normalize(data["data"])
df_tweets.head()

In [ ]:
#df_entities = pd.DataFrame(columns=["id","hashtags","mentions","annotations"])
entities = list()
for tweet in tqdm(data["data"]):
    
    tweet_id = tweet["id"]
    
    try:
        hashtags = [hashtag["tag"].lower() for hashtag in tweet["entities"]["hashtags"]]
    except KeyError:
        hashtags = None
    
    try:
        mentions = [mention["username"].lower() for mention in tweet["entities"]["mentions"]]
    except KeyError:
        mentions = None
        
    try:
        annotations = [annotation["normalized_text"].lower() for annotation in tweet["entities"]["annotations"]]
    except KeyError:
        annotations = None
        
    entities.append([tweet_id,hashtags,mentions,annotations])
    
    #entities = pd.DataFrame([[tweet_id,hashtags,mentions, annotations]], columns=["id","hashtags","mentions", "annotations"])
    #df_entities = df_entities.append(entities, ignore_index=True)

In [ ]:
df_entities = pd.DataFrame(entities,columns=["id","hashtags","mentions","annotations"])
df_entities.head()

In [ ]:
# Merge entities into df_tweets
df_tweets_with_entities = pd.merge(left=df_tweets,
                                   right=df_entities,
                                   left_on="id",
                                   right_on="id",
                                   how="left")

In [ ]:
# Drop columns that are not needed
df_tweets_with_entities.drop(['entities.mentions', 'entities.hashtags', 'entities.urls','entities.annotations',
                              'in_reply_to_user_id', 'referenced_tweets', 'geo.place_id', 'geo.coordinates.type',
                              'geo.coordinates.coordinates', 'withheld.copyright', 'withheld.country_codes', 'entities.cashtags'],
                              axis=1, inplace=True)

In [ ]:
# Rename columns
df_tweets_with_entities = df_tweets_with_entities.rename(columns={'public_metrics.retweet_count': 'retweet_count',
                                                                  'public_metrics.reply_count': 'reply_count',
                                                                  'public_metrics.like_count': 'like_count',
                                                                  'public_metrics.quote_count': 'quote_count'})

In [ ]:
# Export file as csv
df_tweets_with_entities.to_csv(r"C:\Users\jawo19ad\Dropbox (CBS)\Master thesis data\df_tweets.csv")